# Ignorowanie plików kompilacji Java
target/
build/

# Ignorowanie plików tymczasowych
*.swp
*.swo
*.tmp
*.bak
*.log

# Ignorowanie plików systemowych
.DS_Store
Thumbs.db

# Ignorowanie plików konfiguracyjnych specyficznych dla IDE
.vscode/
*.launch
*.project
*.classpath

# Ignorowanie plików związanych z Gradle (jeśli są już dodane usunąć)
.gradle/
build.gradle
gradle/
!gradle/wrapper/gradle-wrapper.jar

# Ignorowanie plików związanych z Maven
.mvn/
pom.xml
target/

# Ignorowanie plików związanych z Dockerem
Dockerfile
docker-compose.yml