# Przykładowy .gitignore dla projektów Java z użyciem IntelliJ IDEA

# Binaries
*.class
*.jar
*.war
*.ear

# Działania w katalogu build (Gradle, Maven)
build/
target/

# Gradle
.gradle/
build/

# Pliki konfiguracyjne specyficzne dla IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Konfiguracja ustawień IDE
.vscode/

# Dane lokalne systemu operacyjnego
.DS_Store
Thumbs.db

# Logi, dzienniki i raporty
*.log

# Katalogi z zewnętrznymi bibliotekami
lib/
